body {
  background-color: $bodyBackGroundColor;
}

.current-progress {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  height: 80px;
  margin: 0 auto;
}

.game-field {
  display: flex;
  flex-wrap: wrap;
  width: 720px;
  height: 720px;
  margin: 0 auto;
  border: $contrastColor solid 10px;
  justify-content: space-between;
  padding: 5px;
  row-gap: 5px;
}

.game-tile {
  background-color: $gameTileColor;
  color: $contrastColor;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: darken($gameTileColor,10%);
    cursor: pointer;
  }
}