@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1160px;
  margin: auto;
}

.standard-txt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}

.title-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
}

.subtittle-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
}

.regular-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.h3_regular {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
}

.header {
  background: #000;
  position: relative;
  z-index: 1;
}
.header .wrapper {
  display: flex;
  height: 80px;
  align-items: center;
}

.logo {
  width: 82px;
  height: 52px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  margin-right: 63px;
}

.logo__title {
  margin: 3.55px 4.74px;
  font-size: 19.0145px;
  line-height: 120%;
  text-align: center;
  color: #fff;
}

.logo_ico {
  position: relative;
  width: 11px;
  height: 20.98px;
  left: 10px;
  top: -28.5px;
  display: inline-block;
  background-image: url(../../assets/icons/bamboo.svg);
}

.header__navigation ul {
  display: flex;
  column-gap: 58px;
  width: 1015px;
}
.header__navigation ul li {
  list-style-type: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}
.header__navigation ul li a {
  color: #fff;
}
.header__navigation ul li:first-child {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__navigation ul li:active {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__navigation_donate-page ul li:first-child {
  background: #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff;
}
.header__navigation_donate-page ul li:first-child:active {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__navigation_donate-page ul li:nth-child(4) {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.copyright-link {
  margin-left: auto;
}

.button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  padding: 16px 1px;
  text-align: center;
  width: 298px;
  height: 54px;
  border: none;
  color: #fff;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.button:hover {
  background: #E47209;
  background: linear-gradient(#E47209);
  cursor: pointer;
}

.button_ellipsise {
  border-radius: 25px;
}

.button_cercle {
  width: 62px;
  height: 62px;
  border-radius: 100%;
}

.arrow-left {
  background-image: url(../../assets/icons/arrow_button.svg);
  width: 16px;
  height: 8px;
  display: inline-block;
}

.arrow-right {
  background-image: url(../../assets/icons/arrow_button.svg);
  transform: rotate(180deg);
  width: 16px;
  height: 8px;
  display: inline-block;
}

.pet-info p img {
  text-align: end;
}

.button:active {
  background: #4B9200;
}

.button_squared {
  border-radius: 5px;
}

.button__submit {
  width: 129px;
  height: 42px;
  padding: 10px 39px;
}

.giant-panda-background {
  height: 390px;
  background-image: url(../../assets/images/giant-panda.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background: #111115;
}

.social-logo {
  width: 26px;
  height: 26px;
  border-radius: 100%;
  background: rgba(196, 196, 196, 0.5);
}

.social-logo__facebook {
  background-image: url(../../assets/icons/facebook.svg);
  width: 8px;
  height: 16px;
  display: inline-block;
}

.social-logo__twitter {
  background-image: url(../../assets/icons/twitter.svg);
  width: 16px;
  height: 14px;
  display: inline-block;
}

.social-logo__instagram {
  background-image: url(../../assets/icons/instagram.svg);
  width: 16px;
  height: 16px;
  display: inline-block;
}

.social-logo__youtube {
  background-image: url(../../assets/icons/youtube.svg);
  width: 18px;
  height: 12.99px;
  display: inline-block;
}

.social-logo__name {
  color: #FFFFFF;
}

.footer__navigation ul {
  display: flex;
  column-gap: 58px;
}
.footer__navigation ul li {
  list-style-type: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}
.footer__navigation ul li a {
  color: #fff;
}
.footer__navigation ul li:first-child {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer__navigation ul li:active {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer__navigation_donate-page ul li:first-child {
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff;
}
.footer__navigation_donate-page ul li:first-child:active {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.email-subscribe__subittle {
  color: #FFFFFF;
}

.email-form {
  margin-top: 14px;
}

.copyright__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.donate-intro {
  padding-top: 40px;
}

.donate-intro__h3_colored {
  margin-top: 40px;
}

.donate-intro__regular-text {
  margin-top: 10px;
  font-weight: 500;
}

.donate-block {
  box-sizing: border-box;
  height: 964px;
  margin-top: 60px;
  padding: 40px 92px 62px;
}

.donate-block__subittle {
  margin-top: 20px;
}

.donation {
  height: 1482px;
}

.donate-visualization {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.donate-visualization-text {
  text-align: center;
}

.donate-visualization-text__text {
  margin-top: 11px;
}

.donate-values {
  display: flex;
  column-gap: 58px;
  justify-content: space-between;
}

.donate-value__value {
  width: 72px;
}

.donate-another-amount {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  width: 301px;
  flex-wrap: wrap;
}
.donate-another-amount input[type=number] {
  width: 268px;
  height: 54px;
  box-sizing: border-box;
  justify-content: center;
  padding: 17px 10px;
  background: transparent;
}
.donate-another-amount input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}
.donate-another-amount input[type=number]::-webkit-outer-spin-button,
.donate-another-amount input[type=number]::-webkit-inner-spin-button {
  display: none;
}

input[type=radio] {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.radio-buttons {
  display: flex;
  column-gap: 10px;
  margin-top: 25px;
  column-gap: 50px;
  justify-content: center;
}
.radio-buttons label {
  display: flex;
  column-gap: 10px;
}

.donate-another-amount-buttons {
  margin-top: 31px;
}

.share-text {
  margin-top: 30px;
}

.donation {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.donate-intro {
  color: #fff;
}

.donate-intro__regular-text {
  margin-top: 10px;
  font-weight: 500;
}

.donate-intro__h3_colored {
  color: #FE9013;
}

.donate-block {
  background: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
}

.donate-block__tittle {
  text-align: center;
  color: #FE9013;
}

.donate-block__subittle {
  color: #333B41;
}

.donate-visualization-text__number {
  font-size: 72px;
  line-height: 80%;
  text-transform: uppercase;
  color: #000000;
}

.donate-visualization-text__text {
  color: #333B41;
}

.separator {
  background-image: url(../../assets/icons/separator.svg);
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-left: 11px;
}

.panda-ico {
  background-image: url(../../assets/icons/panda_icon.svg);
  width: 284px;
  height: 246px;
  display: inline-block;
  margin-left: 64px;
}

.donate-slider {
  margin-top: 48px;
}
.donate-slider input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  appearance: none;
  width: 976px;
  height: 27px;
  background: #404950;
  border-radius: 2px;
  padding: 0 12px;
  z-index: 2;
  margin-top: 17px;
}
.donate-slider input[type=range]::before {
  content: "";
  width: 915px;
  background-color: #72828E;
  display: inline-block;
  position: absolute;
  height: 2px;
  top: 552px;
  left: 119px;
}
.donate-slider input[type=range]::-webkit-slider-runnable-track {
  height: 40px;
  background-color: transparent;
  z-index: 3;
  cursor: pointer;
}
.donate-slider input[type=range]::-webkit-slider-thumb {
  cursor: pointer;
  position: relative;
  border: 2px solid #FE9013;
  outline: 2px solid #FE9013;
  outline-offset: -10.52px;
  width: 40px;
  height: 40px;
  z-index: 10;
  border-radius: 100%;
  background: transparent;
  -webkit-appearance: none;
}
.donate-slider input[type=range]::-moz-range-track {
  height: 40px;
  background-color: transparent;
  z-index: 3;
  cursor: pointer;
}
.donate-slider input[type=range]::-moz-range-thumb {
  cursor: pointer;
  position: relative;
  border: 2px solid #FE9013;
  outline: 2px solid #FE9013;
  outline-offset: -10.52px;
  width: 40px;
  height: 40px;
  z-index: 10;
  border-radius: 100%;
  background: transparent;
  -webkit-appearance: none;
}

.slider-in-beetween-tracks {
  display: flex;
  width: 922px;
  justify-content: space-between;
  position: absolute;
  top: 548px;
  left: 119px;
}

.slider-in-beetween-track__track {
  width: 10px;
  min-height: 10px;
  border-radius: 100%;
  display: inline-block;
  background: #FFEE2E;
  z-index: 1;
}

.donate-value__value {
  font-size: 26px;
  line-height: 140%;
  text-transform: uppercase;
  color: #333B41;
}

.donate-value__value_colored {
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  text-transform: uppercase;
  color: #FE9013;
}

.donate-another-amount input[type=number] {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  background-image: url(../../assets/icons/dollar_default.svg);
  background-repeat: no-repeat;
  background-position: 248px center;
  border: 1px solid #929699;
  border-radius: 2px;
}
.donate-another-amount input[type=number]:focus {
  outline: none;
  color: #4B9200;
  border: 1px solid #4B9200;
  background-image: url(../../assets/icons/dollar_active.svg);
}
.donate-another-amount input[type=number]:invalid {
  outline: none;
  border: 1px solid #D31414;
  color: #D31414;
  background-image: url(../../assets/icons/dollar_mistake.svg);
}

.custom-radio-btn {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: transparent;
  border: 1px solid #FE9013;
  border-radius: 100%;
  vertical-align: text-top;
}

.custom-radio-btn::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #FE9013;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
}

input[type=radio]:checked + .custom-radio-btn::before {
  transform: translate(-50%, -50%) scale(1);
}

footer .wrapper {
  display: flex;
  padding-bottom: 50px;
}

.donate-footer {
  margin-top: 0;
}

.footer-left-column .logo {
  margin-top: 41px;
}

.footer-left-column-buttons {
  margin-top: 68px;
}

.socials {
  display: flex;
  flex-direction: column;
  margin-top: 44px;
  row-gap: 10px;
}

.social-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-item {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.footer-center-column {
  display: flex;
  align-items: flex-end;
  margin-left: 101px;
}

.footer-right-column {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.email-subscribe {
  margin-top: 40px;
}

.email-form {
  display: flex;
  column-gap: 10px;
}

.copyright {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-self: end;
}

input[type=email] {
  width: 228px;
  height: 42px;
  border-radius: 2px;
  border: 1px solid #FE9013;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #BDBDBD;
  background: #111115;
  padding: 10px 7px 10px 10px;
  box-sizing: border-box;
}
input[type=email]:focus {
  outline: none;
  border: 1px solid #4B9200;
}
input[type=email]:invalid:focus {
  color: #D31414;
  border: 1px solid #D31414;
}
input[type=email]:invalid:focus + .email-form-button .button__submit {
  color: #D31414;
  border: 1px solid #D31414;
  cursor: not-allowed;
}

.button__submit {
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  background: #F1F3F2;
  border: 1px solid #333B41;
  border-radius: 5px;
}

/*# sourceMappingURL=style.css.map */
