.burger_menu {
  width: 18px;
  height: 10px;
  position: relative;
  z-index: 102;
}

.burger_menu_lines::before,
.burger_menu_lines::after,
.burger_menu_lines {
  background-color: #fff;
  position: absolute;
  width: 18px;
  height: 2px;
}

.burger_menu_lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}

.burger_menu_lines::before {
  content: "";
  transition: 0.4s;
  top: -4px;
}

.burger_menu_lines::after {
  content: "";
  transition: 0.4s;
  top: 4px;
}

#burger {
  position: fixed;
  transform: translateX(-9999999px);
}

#burger:checked ~ .burger_menu_lines::after {
  left: 0%;
  top:0;
  transform: rotate(45deg);
  background-color: #333B41;
}

#burger:checked ~ .burger_menu_lines::before {
  left: 0%;
  top:0;
  transform: rotate(-45deg);
  background-color: #333B41;
}

#burger:checked ~ .burger_menu_lines {
  // left: 0%;
  background: transparent;
}

.burger_menu {
  display: none;
}

.burger_menu:hover {
  cursor: pointer;
}

.burger-active_ul {
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.5);
}
