.button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  padding: 16px 1px;
  text-align: center;
  width: 298px;
  height: 54px;
  border: none;
  color: #fff;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.button:hover {
  background: #E47209;
  background: linear-gradient(#E47209);
  cursor: pointer;
}

.button_ellipsise {
  border-radius: 25px;
}

.button_cercle {
  width: 62px;
  height: 62px;
  border-radius: 100%;
}

.arrow-left {
  background-image: url(../../../assets/icons/arrow_button.svg);
  width: 16px;
  height: 8px;
  display: inline-block;
}

.arrow-right {
  background-image: url(../../../assets/icons/arrow_button.svg);
  transform: rotate(180deg);
  width: 16px;
  height: 8px;
  display: inline-block;
}

.pet-info p img {
  text-align: end;
}

.button:active {
  background: #4B9200;
}

.button_squared {
  border-radius: 5px;
}