.selected-game {
  display: flex;
  column-gap: 10px;
}

.answers-list {
  flex-grow: 1;
  min-width: 48%;
  max-width: 48%;
}

.answer-info {
  flex-grow: 1;
  padding: 20px;
}

.answer {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.selected-game-description {
  overflow: auto;
  height: 85px;
  margin-top: 10px;
  &::-webkit-scrollbar {
    width: 0px;
  }
}

.selected-game-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  row-gap: 10px;
}
