@media (min-width: 320px) and (max-width: 639px) {
  .wrapper {
    width: 300px;
  }
  .navigation {
    flex-direction: column;
    row-gap: 10px;
    flex-wrap: wrap;
    row-gap: 15px;
  }

  .navigation__link {
    font-size: 1rem;
    padding: 6px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
  }

  .header {
    flex-direction: column;
    row-gap: 10px;
  }

  .main {
    margin-top: 20px;
  }

  .questions-types {
    flex-wrap: wrap;
  }

  .questions-types__type {
    width: calc(600px / 6);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
  }
  .question {
    margin-right: 20px;
    width: 300px;
  }

  .unknown-game-block {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
  }

  .unknown-game-description__name {
    font-size: 1.3em;
  }
  .unknown-game-description {
    align-self: flex-start;
    width: 100%;
  }

  .audio-player {
    width: 50%;
  }

  .answers-block {
    flex-direction: column;
    row-gap: 20px;
  }

  .answers-list {
    min-width: 100%;
    max-width: 100%;
  }

  .answer-info {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5px;
    row-gap: 5px;
    width: 300px;
    height: 500px;
  }

  .game-img {
    align-self: center;
  }

  .selected-game-info {
    margin-top: 5px;
  }

  .selected-game-description {
    height: 140px;
  }

  .selected-game {
    flex-direction: column;
  }

  .results-block {
    width: 60%;
  }

  .start-button__button {
    height: 40px;
    width: 150px;
  }

  .results-block {
    width: 320px;
  }

  .footer-navigation {
    text-align: center;
  }

  .footer-navigation__link {
    font-size: 1em;
  }

  .footer-navigation__RS-school {
    height: 35px;
  }

  .language-en,
  .language-ru {
    height: 20px;
    width: 40px;
  }
  .language-selector {
    height: 30px;
    width: 55px;
    margin-right: auto;
  }
  .selector-options {
    height: 20px;
  }
  .selector-options_active {
    height: 50px;
  }

  .navigation-links {
    justify-content: center;
    width: 100%;
  }
}
