.question-block {
  display: flex;
  min-width: 100%;
  flex-direction: column;
}

.unknown-game-block {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  box-sizing: border-box;
  min-width: 100%;
  column-gap: 20px;
}

.unknown-game-description {
  flex-grow: 1;
}

.answers-block {
  display: flex;
  margin-top: 20px;
  column-gap: 20px;
}

.selected-audio-player {
  width: 220px;
}
