.nav__button {
  height: 40px;
  width: 100px;
  border-radius: 15px;
  color: $contrastColor;
  background-color: $bodyBackGroundColor;
  &:hover {
    background-color: darken( $bodyBackGroundColor, 10);
    cursor: pointer;
  }
  &:active {
    background-color: $bodyBackGroundColor;
  }
}

.nav__button_sound {
  background-image: url("../../images/sound-logo.svg");
  background-size: contain;
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav__button_sound__muted {
  &::after {
    content: "";
    width: 3px;
    height: 45px;
    background-color: crimson;
    display: inline-block;
    position: relative;
    z-index: 10;
    transform: rotate(45deg);
    top: -5px;
    left: -3px;
  }
}
